:root {
  --accent-color: #337736;
  --accent-color-hover: #3e9242;
  --headings-color: #222222;
  --body-color: #505050;
  --edit-color: #ded57f;
  --delete-color: #de7f7f;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* Typography */
body {
  font-family: "Inter", Arial, Helvetica, sans-serif, sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--headings-color);
  background: #f8f8f8;
}
h1,
h2,
h3 {
  color: var(--headings-color);
  margin-bottom: 0.625rem;
  line-height: 1.1;
}
h1 {
  font-size: 2.986rem;
}
h2 {
  font-size: 2.488rem;
}
h3 {
  font-size: 2.074rem;
  font-weight: 500;
}
p {
  margin-top: 0;
}

/* links */
a {
  text-decoration: none;
}
/* Lists */
ul {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 1.25rem;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 1.875rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Navigation Bar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0.625rem;
}
.nav__list {
  margin: 0;
  width: 100%;
}
.nav__item {
  text-align: center;
  padding: 0.8rem 1.25rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: var(--primary-color);
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: var(--primary-color-hover);
}
.nav__item > .btn--accent {
  color: white;
}
.nav__item > .btn--accent:hover {
  color: white;
}
.nav__toggler {
  opacity: 0.5;
}
.nav__toggler {
  cursor: pointer;
  opacity: 0.5;
  transition: box-shadow 0.15s;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translate(5px);
  width: 100px;
}
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}
/* Icons */
.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 30px;
  height: 30px;
}
.icon--primary {
  fill: var(--primary-color);
}
.icon--white {
  fill: #fff;
}
.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.icon-container--accent {
  background: var(--accent-color);
}

/* Buttons */
.btn {
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  margin: 0.625rem 0.2rem;
  padding: 1rem 3vw;
  border: 0;
  outline: 0;
  border-radius: 15px;
}
.btn--action-flex {
  display: flex;
  flex-wrap: nowrap;
}
.btn--small {
  font-size: 1rem;
  padding: 0.4rem 2vw;
}
.btn--accent {
  background-color: var(--accent-color);
  color: #fff;
}
.btn--accent:hover,
.btn--accent:focus {
  background: var(--accent-color-hover);
}
.btn--outline {
  background: #fff;
  color: var(--headings-color);
  border: 2px solid var(--headings-color);
}
.btn--outline:hover {
  background: var(--headings-color);
  color: #fff;
}
.btn--stretched {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}
.btn--block {
  width: 100%;
  display: inline-block;
}
.btn--edit {
  background-color: var(--edit-color);
  color: #0a0a0a;
}
.btn--edit:hover,
.btn--edit:focus {
  background-color: var(--edit-color-hover);
}
.btn--delete {
  background-color: var(--delete-color);
  color: #0a0a0a;
}
.btn--delete:hover,
.btn--delete:focus {
  background-color: var(--delete-color-hover);
}
.btn--open {
  background-color: var(--open-color);
  color: #ffffff;
}
.btn--open:hover,
.btn--open:focus {
  background-color: var(--open-color-hover);
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 0.9375rem;
  }
}

/* Grid */
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Hero */
.hero__tagline {
  font-size: 1.25rem;
  color: var(--primary-color);
  letter-spacing: 1px;
  margin: 1.25rem 0 2rem;
}
.hero__image {
  width: 100%;
}
.hero__image-container {
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: left !important;
    align-self: center;
  }
}
/* Blocks */
.block {
  --padding-vertical: 2rem;
  padding: var(--padding-vertical) 1.25rem;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
}
.block__header {
  text-align: center;
  margin-bottom: 2.5rem;
}
.block__heading {
  margin-top: 0;
}
.block--dark {
  background: #0e0f0f;
  color: #7b858b;
}
.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}
.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 2.5rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}
.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 2.5rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* Footer */

.footer a {
  color: #777;
  transition: color 0.3s;
}

.footer a:hover {
  color: #fff;
}
.footer__section {
  padding: 1.25rem;
  border-bottom: 1px solid #393939;
}
.footer__section .list {
  margin: 0;
}
.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
}
.footer__brand {
  margin-top: 3.125rem;
  text-align: center;
}
.footer__brand img {
  width: 100%;
  max-width: 230px;
}
.footer__copyright {
  font-size: 1.3125rem;
  color: #fff;
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer .collapsible__chevron {
    display: none;
  }
  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }
  .footer__brand {
    order: -1;
    margin-top: 0.625rem;
  }
  .footer__copyright {
    font-size: 0.9375rem;
  }
  .footer__section {
    border: 0;
  }
  .footer__heading {
    font-size: 1rem;
  }
}
/* Forms */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 5rem;
}

.form-signin {
  text-align: center;
}
.form-group {
  margin: 1rem 0;
}
.form-control {
  border: 1px solid #ced4da;
  outline: 0;
}
.form-control:focus {
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 0 5px var(--accent-color);
}

.form-control {
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}
.btn--form {
  width: 100%;
}

.muted {
  color: #6c757d;
}

/* art */
.art {
  background: #fff;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
}
