:root {
  --accent-color: #337736;
  --headings-color: #222222;
  --body-color: #505050;
  --edit-color: #ded57f;
  --delete-color: #de7f7f;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* Typography */
body {
  font-family: "Inter", Arial, Helvetica, sans-serif, sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--body-color);
}
h1,
h2,
h3 {
  color: var(--headings-color);
  margin-bottom: 0.625rem;
  line-height: 1.1;
}
h1 {
  font-size: 2.986rem;
}
h2 {
  font-size: 2.488rem;
}
h3 {
  font-size: 2.074rem;
  font-weight: 500;
}
p {
  margin-top: 0;
}
